@using MultiShop.WebUI.Dtos.CatologDtos.SpecailOfferDtos
@model CreateSpecialOfferDto
@{
    ViewData["Title"] = "CreateSpecialOffer";
    Layout = "~/Areas/Admin/Views/AdminLayout/Index.cshtml";
}

<section class="content container-fluid">
    <div class="row">

        <div class="col-md-12">
            <div class="chart-box">
                <h4>Özel Fırsat Ekle</h4>

                <div class="bs-example" data-example-id="bordered-table">
                    <form method="post">
                        <label>Fırsat Başlığı</label>
                        <br />
                        <input type="text" class="form-control" asp-for="Title" />
                        <br />

                        <label>Fırsat Açıklaması</label>
                        <br />
                        <input type="text" class="form-control" asp-for="SubTitle" />
                        <br />

                        <label>Görsel Url</label>
                        <br />
                        <input type="text" class="form-control" asp-for="ImageUrl" />
                        <br />

                        <button class="btn btn-primary">Ekle ve Kaydet</button>

                    </form>
                </div>
            </div>
        </div>

    </div>
</section>

