@model List<CategoryListDto>

<div class="container">
    <table>
        
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.CategoryId</td>
                <td>@item.CategoryName</td>
            </tr>
        }
    </table>
</div>
