@model UpdateCategoryDto

@{
    ViewData["Title"] = "UpdateCategory";
    Layout = "~/Areas/Admin/Views/AdminLayout/Index.cshtml";
}


<section class="content container-fluid">
    <div class="row">

        <div class="col-md-12">
            <div class="chart-box">
                <h4>Kategori Ekle</h4>
                <p>
                    Kullanımla ilgili bilgilendirme yapmak için bu alanı kullanın.
                    
                </p>
                <br />
                <div class="bs-example" data-example-id="bordered-table">

                    <form method="post">
                        <input type="text" readonly class="form-control" asp-for="@Model.CategoryId" /> <br />
                        <label>Yeni Kategori Adı</label>
                        <br />
                        <input class="form-control" type="text" asp-for="CategoryName" /> <br />
                        <br />
                        <input class="form-control" type="text" asp-for="ImageUrl" /> <br />
                        <button class="btn btn-success">Kaydet</button>
                    </form>

                </div>
            </div>
        </div>

    </div>
</section>