
<div class="container-fluid py-5">
    <div class="row px-xl-5">
        <div class="col">
            <div class="owl-carousel vendor-carousel">
                <div class="bg-light p-4">
                    <img src="https://kreafolk.com/cdn/shop/articles/nike-logo-design-history-and-evolution-kreafolk_2baa1235-8c25-4266-aebd-74124ce475dc.jpg?v=1717725084&width=2048" alt="">
                </div>
                <div class="bg-light p-4">
                    <img src="https://st2.depositphotos.com/3047529/47665/i/450/depositphotos_476656414-stock-photo-copenhagen-denmark-august-2020-adidas.jpg" alt="">
                </div>
                <div class="bg-light p-4">
                    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQRpwmZkZhwDBK8c5jxZP68clpXItFQ_hR4jg&s" alt="">
                </div>
                <div class="bg-light p-4">
                    <img src="https://static.designboom.com/wp-content/uploads/2019/04/ikea-new-logo-seventy-agency-designboom-600.jpg" alt="">
                </div>
                <div class="bg-light p-4">
                    <img src="https://qph.cf2.quoracdn.net/main-qimg-f5586081258a22fc766930378044de33" alt="">
                </div>
                <div class="bg-light p-4">
                    <img src="https://mir-s3-cdn-cf.behance.net/projects/404/977e86157556271.Y3JvcCw4NjIsNjc1LDMyNiww.jpg" alt="">
                </div>
                <div class="bg-light p-4">
                    <img src="img/vendor-7.jpg" alt="">
                </div>
                <div class="bg-light p-4">
                    <img src="img/vendor-8.jpg" alt="">
                </div>
            </div>
        </div>
    </div>
</div>